<template>
  <div
    class="mx-auto container px-4 md:container-inner md:px-4 lg:px-40 lg:container-inner xl:container-inner"
  >
    <Project
      v-for="p in projects"
      :key="p.title"
      :title="p.title"
      :description="p.description"
      :link="p.link"
      :ghlink="p.ghlink"
      :tecs="p.tecs"
      :hero="p.hero"
    />
  </div>
</template>

<script>
import Project from '@/components/Project'
export default {
  data: function () {
    return {
      projects: [
        {
          title: 'Room Booking Apps',
          description:
            'BOOKAPP adalah sebuah aplikasi yang memungkinkan User untuk melihat semua ruangan meeting atau konferensi atau dengan memilih ruangan yang ingin di pesan pada waktu dan tanggal tertentu.',
          link: 'https://bookapp.vitoye.com/',
          ghlink: 'https://github.com/adam3am/room-booking-apps',
          tecs: ['vue', 'vuetify', 'express', 'postgresql'],
          hero: '/images/tech-logos/node.svg',
        },
        {
          title: 'Fitness Companion Apps',
          description:
            'Personal Workout menampilkan form yang dapat Meng-Input jenis-jenis Workout. Precompiled Page menunjukkan daftar semua Workout yang sudah diatur. Fungsi Search Bar pada halaman Hero Workout (Precompiled Page).',
          link: 'https://fitcompapps.vitoye.com/',
          ghlink: 'https://github.com/adam3am/fitness-companion-apps',
          tecs: ['vue', 'express', 'bootstrapvue'],
          hero: '/images/tech-logos/vue.svg',
        },
        {
          title: 'Travel Guide Website',
          description:
            'Landing page yang dapat menampilkan berbagai destinasi dan kota. Melihat detail biaya untuk akomodasi ke destinasi wisata.',
          link: 'https://travelguideweb.netlify.app/',
          ghlink: 'https://github.com/adam3am/travel-guide-website',
          tecs: ['html', 'css', 'javascript', 'bootstrap'],
          hero: '/images/tech-logos/bootstrap.svg',
        },
      ],
    }
  },

  components: {
    Project,
  },
}
</script>

<style></style>
