<template>
  <!-- Navigation -->
  <header class="px-4">
    <nav
      class="container mx-auto flex flex-col sm:flex-row justify-between items-center py-8"
    >
      <div class="mb-4 sm:mb-0">
        <svg
          class="h-12 w-12 fill-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 500 500"
        >
          <style>
            .a {
              fill: none;
              stroke-width: 1px;
              stroke: #000;
            }
            .b {
              -inkscape-font-specification: 'Times New Roman, ';
              font-family: 'Times New Roman';
              font-size: 500px;
              letter-spacing: 0px;
              line-height: 100%;
              stroke-width: 1px;
              word-spacing: 0px;
            }
            .c {
              font-family: sans-serif;
              font-size: 300px;
              letter-spacing: 0px;
              line-height: 100%;
              stroke-width: 1px;
              word-spacing: 0px;
            }
          </style>
          <defs>
            <clipPath clipPathUnits="userSpaceOnUse" />
            <clipPath clipPathUnits="userSpaceOnUse" />
          </defs>
          <g transform="translate(0 -552.36216)">
            <path class="b" />
            <text
              style="
                font-size: 20px;
                letter-spacing: 0px;
                line-height: 100%;
                word-spacing: 0px;
              "
            >
              <tspan class="b">
                <tspan
                  style="
                    -inkscape-font-specification: 'Times New Roman, ';
                    font-family: 'Times New Roman';
                  "
                >
                  t
                </tspan>
              </tspan>
            </text>
            <path
              d="M150.3 658.3 23.1 786.8v31.1L150.3 946.4V901.3L50 802.4 150.3 703.4Z"
              class="c"
            />
            <path
              d="m353 658.4 127.2 128.5v31.1L353 946.5V901.4L453.3 802.4 353 703.5Z"
              class="c"
            />
          </g>
        </svg>
      </div>
      <ul class="uppercase tracking-wide font-bold flex items-center space-x-8">
        <li>
          <a
            href="#"
            class="text-copy-primary hover:text-gray-500"
            @click.prevent="toggleTheme"
            alt="Change theme"
          >
            <svg
              v-if="theme === 'theme-light'"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-moon"
            >
              <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" />
            </svg>
            <svg
              v-else
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-sun"
            >
              <circle cx="12" cy="12" r="5" />
              <path
                d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"
              />
            </svg>
          </a>
        </li>
        <li>
          <nuxt-link
            to="/"
            class="text-copy-primary hover:text-gray-500"
            alt="Go to about"
          >
            About
          </nuxt-link>
        </li>
        <li>
          <nuxt-link
            to="/projects"
            class="text-copy-primary hover:text-gray-500"
            alt="Go to Projects"
          >
            Projects
          </nuxt-link>
        </li>
        <li>
          <nuxt-link
            to="/blog"
            class="text-copy-primary hover:text-gray-500"
            alt="Go to Blog"
          >
            Blog
          </nuxt-link>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
export default {
  props: {
    theme: {
      type: String,
      required: true,
    },
  },

  methods: {
    toggleTheme() {
      const newTheme =
        this.theme === 'theme-light' ? 'theme-dark' : 'theme-light'
      localStorage.setItem('theme', newTheme)
      this.$emit('themeChanged', newTheme)
    },
  },
}
</script>

<style scoped>
.nuxt-link-exact-active {
  @apply pb-2;
  @apply border-b-2;
}
</style>
