<template>
  <div class="flex justify-evenly" v-if="error.statusCode === 404">
    <img
      src="https://media.tenor.com/LchcgwGTaTUAAAAd/404-404not-found.gif"
      alt="Not Found"
    />
  </div>
</template>

<script>
export default {
  props: ['error'],
  layout: 'error', // you can set a custom layout for the error page
}
</script>
